<style>
   #loginpanel {
        width: 215px;
   }
   .voffset {
        margin-top: 120px;
    }
   .smvoffset {
        margin-top: 30px;
    }

   #infopanel {
     width: 390px;
   }
   .voffset {
      margin-top: 20px;
    }

.image { 
  position: relative; 
  width: 100%; /* for IE 6 */
}

hp1 { 
   position: absolute; 
   top: 40px; 
   left: 50px; 
   width: 100%; 
}

hp1 span { 
   color: maroon; 
   font: bold 45px/65px Helvetica, Sans-Serif; 
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(200, 200, 200, 0.10);
   padding: 20px; 
}

hp1b {
   position: absolute; 
   top: 90px; 
   left: 55px; 
   width: 100%; 
}
hp1b span {
   color: darkslategray; 
   font: bold 30px/50px Helvetica, Sans-Serif; 
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(200, 200, 200, 0.10);
   padding: 15px; 
}

hp2 { 
   position: absolute; 
   top: 140px; 
   left: 55px; 
   width: 100%; 
}

hp2 span { 
   color: blue; 
   font: bold 16px/30px Arial, Sans-Serif; 
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(200, 200, 200, 0.55);
}

hp2a { 
   position: absolute; 
   top: 10px; 
   left: 230px; 
   width: 100%; 
}

hp2a span { 
   color: darkslategray; 
   font: bold 14px/28px Arial, Sans-Serif; 
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(200, 200, 200, 0.55);
}


hp4 { 
   position: absolute; 
   top: 180px; 
   left: -10px; 
   width: 100%; 
}

hp4 span { 
   color: darkslategray; 
   font: bold 20px/40px Helvetica, Sans-Serif; 
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(200, 200, 200, 0.25);
   padding: 10px; 
}

</style>

<script>
window.onload = function () {
  $("#target").val( "http://" + 
                    window.location.host + 
                    "/login/authenticate?d=<%= req.param("d")||"" %>");
};
</script>


<div class="image">

<!--
<img src="http://www.cs.unc.edu/Courses/cco-comp110/images/makeBricks3a.jpg" width=80% alt="" />
-->
<img src=" https://www.unc.edu/~stotts/comp110/pix/cubes-h.jpg " width=110%  alt="" />
<!--
http://www.cs.unc.edu/Courses/cco-comp110/images/cubes-f.jpg
http://www.cs.unc.edu/Courses/cco-comp110/images/makeBricks3a.jpg
http://www.unc.edu/~stotts/comp110/pix/cubes-g.jpg
-->

      
<hp1><span>Bricks</span></hp1>
<hp1b><span>COMP 110: Introduction to Programming</span></hp1b>
<hp2><span>
<div class="container-fluid">
  <div id="loginpanel" class="left-block smvoffset">
  <div class="panel panel-default">
    <div class="panel-heading ">Campus ONYEN Services</div>
    <div class="panel-body">
      <form action="https://onyen.unc.edu/cgi-bin/unc_id/authenticator.pl" 
            name="form1" method="POST">
        <!-- 'title' is special; it will be used on the authenticator page. -->
        <input type="hidden"
           name="title"
           value="UNC Onyen Authentication">

           <!-- Do we want to get the PID for this person? -->
             <input type="hidden"
                     name="getpid"
                     value="displayName">

                <input id="target" type="hidden"
                     name="targetpass"
                     value="http://localhost:2525/login/authenticate">

                <input type="hidden"
                     name="locationfailtimeout"
                     value="https://onyen.unc.edu/cgi-bin/unc_id/authenticator.pl">

                <input type="hidden"
                     name="targetfail"
                     value="https://onyen.unc.edu/cgi-bin/unc_id/authenticator.pl">

                <input type="hidden"
                     name="textpass"
                     value="Welcome to Bricks... Enjoy your stay ">

                <input type="submit"
                    class="btn btn-primary center-block"
                     name="submit"
                     value="Go to Login page">

                <!-- pick a background image -->
                <input type="hidden"
                       name="backgroundimage"
                       value="http://www.cs.unc.edu/Courses/cco-comp110/images/cubes-h1.jpg">

                <!-- pick a Casscading Style Sheet -->
                <input type="hidden"
                       name="csslink"
                       value="https://xkcd.com/s/46a610.css" >
<!-- 
                       value="https://www.cs.unc.edu/Courses/cco-comp110/images/onyenLogin.css"> 
-->


            </form>
        </div>
    </div>
</div>
</span>
</hp2>

<hp2a> <span>
<div class="container-fluid">
  <div id="infopanel" class="voffset">
  <div class="panel panel-default">
    <div class="panel-body">
Login services are handled by campus servers.  
<br/>
Your ONYEN password is not known or kept by Bricks. 
<br/>
We use your ONYEN id and name only, for record keeping.
</span>
</div>
</div>
</div>
</div>
</hp2a>

</div>

